div.stats-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;

    div.stat-card {
        background-color: white;
        border-radius: 3px;

        div.stats-icon {
            width: 60px;
            height: 60px;
            background-color: #ffeee8;
        }
    }
}

p.page-title {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1.8rem;
}

span.stat-record {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.3rem;
}

span.stat-category {
    font-family: "Poppins";
    font-weight: 400;
    color: #0000006b;
    font-size: 0.92rem;
}