<div class="container my-4">
    <h3 class="about-us-title">About Us</h3>
</div>
<div class="who-we-are my-4">
    <div class="overlay">
        <div class="container">
            <p class="who-we-are-title">Who We Are?</p>
            <p class="about-us-desc">
                Welcome to (Website Name), your trusted partner in learning and
                development. We are a comprehensive platform offering diverse courses
                tailored to learners at every stage (school students, undergraduates,
                and graduates).<br /><br />
                Our mission is to empower individuals with knowledge and skills to excel
                in their academic and professional journeys. Whether you’re exploring
                new interests, advancing in your career, or preparing for the future, we
                provide the tools and guidance you need to succeed.<br /><br />
                What sets us apart is our dedication to quality and accessibility. Our
                courses are crafted by industry experts, combining theoretical
                foundations with hands-on experience to ensure practical learning. With
                flexible scheduling, and personalized support, we make education
                seamless and rewarding.<br /><br />
                At (Website Name), we believe that learning is a lifelong journey. Join
                our vibrant community of learners and take the first step toward
                achieving your goals today!
            </p>
            <div class="d-flex justify-content-end">
                <button class="nav-btn" style="background-color: #006557; color: white">
                    Join Now
                </button>
            </div>
        </div>
    </div>
</div>