<div class="container d-flex py-5">
  <div class="col">
    <p class="m-2 mb-3 course-title">
      {{ courseInfo.title }}
    </p>
    <div class="creator-and-rating d-flex">
      <div class="col d-flex gap-3">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
          class="mr-2"
          size="large"
          shape="circle"
        />
        <div class="creator-info d-flex flex-column justify-content-start">
          <p class="m-0 created-by-title">Created By:</p>
          <p class="m-0 created-by-instructor">
            {{ courseInfo.instructor["name"] }}
          </p>
        </div>
      </div>
      <div
        class="col d-flex flex-column flex-md-row justify-content-end align-items-center gap-2"
      >
        <div>
          <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
          <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
          <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
          <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
          <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
        </div>
        <span class="rating">{{
          courseInfo.course_rating["average_rating"]
        }}</span>
        <span class="raters-no">
          ({{ courseInfo.course_rating["total_reviews"] }} Rating)</span
        >
      </div>
    </div>
    <div class="video-container d-flex gap-3 my-4">
      <div class="col col-md-8">
        <video controls poster="assets/Images/video-cover.jpeg" class="w-100">
          <source src="example-video.mp4" type="video/mp4" />
          <source src="example-video.webm" type="video/webm" />
          Your browser does not support the video tag.
        </video>
        <!-- <iframe
          src="https://drive.google.com/file/d/1uxv5IaN_e7GGVXAteJrdNHUfsjMntOn-/preview"
          height="480"
          allow="autoplay"
          class="w-100"
        ></iframe> -->
      </div>
      <div class="col price-container p-3">
        <p class="text-center">${{ courseInfo.course_price }}</p>
        <p-divider />
        <div class="d-flex mb-2">
          <div
            class="property-chip col d-flex align-items-center gap-3 justify-content-start"
          >
            <i class="pi pi-stopwatch"></i> <span>Course Duration</span>
          </div>
          <div class="course-price d-flex col justify-content-end">
            {{ courseInfo.course_duration }}
          </div>
        </div>
        <div class="d-flex mb-2">
          <div
            class="property-chip col d-flex align-items-center gap-3 justify-content-start"
          >
            <i class="pi pi-sliders-h"></i><span>Course Level</span>
          </div>
          <div class="course-price d-flex col justify-content-end">
            {{ courseInfo.course_level }}
          </div>
        </div>
        <div class="d-flex mb-2">
          <div
            class="property-chip col d-flex align-items-center gap-3 justify-content-start"
          >
            <i class="pi pi-users"></i><span>Students Enrolled</span>
          </div>
          <div class="course-price d-flex col justify-content-end">
            {{ courseInfo.students_enrolled }}
          </div>
        </div>
        <p-divider />
        <div class="d-flex w-100 justify-content-cen">
          <button (click)="checkOutCourse()">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="video-description">
      <h3 class="course-desc-title">Description</h3>
      <p class="course-desc">
        {{ courseInfo.description }}
      </p>
    </div>
    <div class="course-instructor d-flex flex-column my-4">
      <h3 class="course-desc-title py-4">Course Instructor</h3>
      <div class="d-flex align-items-center card flex-row">
        <div class="col-3 p-5">
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
            alt=""
            width="auto"
            height="100"
          />
        </div>
        <div class="col d-flex px-3 my-4">
          <div class="instructor-info d-flex flex-column gap-2">
            <div class="d-flex flex-column">
              <span class="rating">{{ instructorInfo.name }}</span>
              <span class="raters-no">{{ instructorInfo.about }}</span>
            </div>
            <div class="d-flex gap-3">
              <div class="d-flex align-items-center col gap-2">
                <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
                <span class="rating"
                  >{{ instructorInfo.rate }}
                  <span class="raters-no">Course Rating</span></span
                >
              </div>
              <div class="d-flex align-items-center col gap-2">
                <i class="pi pi-users px-1" style="color: #004c41"></i>
                <span class="rating"
                  >{{ instructorInfo.students_count }}
                  <span class="raters-no">Students</span></span
                >
              </div>
              <div class="d-flex align-items-center col gap-2">
                <i class="pi pi-youtube px-1" style="color: #004c41"></i>
                <span class="rating"
                  >{{ instructorInfo.courses.length }}
                  <span class="raters-no">Courses</span></span
                >
              </div>
            </div>
            <div class="d-flex my-2">
              <p class="course-desc">
                {{ instructorInfo.about }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="course-rating d-flex flex-column">
      <h3 class="course-desc-title py-4">Course Rating</h3>

      <div class="d-flex gap-3">
        <div
          class="col-3 d-flex flex-column gap-2 py-3 justify-content-center align-items-center card"
        >
          <span class="rating" style="font-size: 2rem">{{
            courseInfo.course_rating["average_rating"]
          }}</span>
          <div class="course-rating-in-stars">
            <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
            <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
            <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
            <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
            <i class="pi pi-star-half-fill px-1" style="color: #004c41"></i>
          </div>
          <span class="rating" style="font-size: 0.9rem">Course Rating</span>
        </div>
        <div class="col">
          <!-- <div class="d-flex gap-3 align-items-center">
            <div class="course-rating-in-stars col-3">
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
            </div>
            <div class="col-2">
              <span class="raters-no">5 Star Rating</span>
            </div>
            <div
              class="progress-bar col"
              style="
                height: 10px;
                background-color: #eee;
                width: 100%;
                overflow: hidden;
                border-radius: 7px;
                border: 1px solid #004c415e;
              "
            >
              <div
                class="progress"
                [ngStyle]="{
                  height: '100%',
                  width: courseInfo.course_rating['ratingPercentages'][0] + '%',
                  'background-color': '#004c41'
                }"
              ></div>
            </div>
            <div class="col-1">
              <span
                class="rating"
                style="font-size: 0.9rem; font-weight: normal"
                >{{ courseInfo.course_rating["ratingPercentages"][0] }}</span
              >
            </div>
          </div>

          <div class="d-flex gap-3 align-items-center">
            <div class="course-rating-in-stars col-3">
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star px-1"></i>
            </div>
            <div class="col-2">
              <span class="raters-no">4 Star Rating</span>
            </div>
            <div
              class="progress-bar col"
              style="
                height: 10px;
                background-color: #eee;
                width: 100%;
                overflow: hidden;
                border-radius: 7px;
                border: 1px solid #004c415e;
              "
            >
              <div
                class="progress"
                style="height: 100%; width: 75%; background-color: #004c41"
              ></div>
            </div>
            <div class="col-1">
              <span
                class="rating"
                style="font-size: 0.9rem; font-weight: normal"
                >75%</span
              >
            </div>
          </div>

          <div class="d-flex gap-3 align-items-center">
            <div class="course-rating-in-stars col-3">
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star px-1"></i>
              <i class="pi pi-star px-1"></i>
            </div>
            <div class="col-2">
              <span class="raters-no">3 Star Rating</span>
            </div>
            <div
              class="progress-bar col"
              style="
                height: 10px;
                background-color: #eee;
                width: 100%;
                overflow: hidden;
                border-radius: 7px;
                border: 1px solid #004c415e;
              "
            >
              <div
                class="progress"
                style="height: 100%; width: 21%; background-color: #004c41"
              ></div>
            </div>
            <div class="col-1">
              <span
                class="rating"
                style="font-size: 0.9rem; font-weight: normal"
                >21%</span
              >
            </div>
          </div>

          <div class="d-flex gap-3 align-items-center">
            <div class="course-rating-in-stars col-3">
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star px-1"></i>
              <i class="pi pi-star px-1"></i>
              <i class="pi pi-star px-1"></i>
            </div>
            <div class="col-2">
              <span class="raters-no">2 Star Rating</span>
            </div>
            <div
              class="progress-bar col"
              style="
                height: 10px;
                background-color: #eee;
                width: 100%;
                overflow: hidden;
                border-radius: 7px;
                border: 1px solid #004c415e;
              "
            >
              <div
                class="progress"
                style="height: 100%; width: 10%; background-color: #004c41"
              ></div>
            </div>
            <div class="col-1">
              <span
                class="rating"
                style="font-size: 0.9rem; font-weight: normal"
                >10%</span
              >
            </div>
          </div>

          <div class="d-flex gap-3 align-items-center">
            <div class="course-rating-in-stars col-3">
              <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
              <i class="pi pi-star px-1"></i>
              <i class="pi pi-star px-1"></i>
              <i class="pi pi-star px-1"></i>
              <i class="pi pi-star px-1"></i>
            </div>
            <div class="col-2">
              <span class="raters-no">1 Star Rating</span>
            </div>
            <div
              class="progress-bar col"
              style="
                height: 10px;
                background-color: #eee;
                width: 100%;
                overflow: hidden;
                border-radius: 7px;
                border: 1px solid #004c415e;
              "
            >
              <div
                class="progress"
                style="height: 100%; width: 1%; background-color: #004c41"
              ></div>
            </div>
            <div class="col-1">
              <span
                class="rating"
                style="font-size: 0.9rem; font-weight: normal"
                >1%</span
              >
            </div>
          </div> -->
          <div
            *ngFor="let rating of getRatingsArray(); let i = index"
            class="d-flex gap-3 align-items-center"
          >
            <!-- Stars Representation -->
            <div class="course-rating-in-stars col-3">
              <i
                *ngFor="let star of getStarsArray(i + 1)"
                class="pi pi-star-fill px-1"
                style="color: #004c41"
              ></i>
              <i
                *ngFor="let emptyStar of getEmptyStarsArray(i + 1)"
                class="pi pi-star px-1"
              ></i>
            </div>

            <!-- Star Rating Text -->
            <div class="col-2">
              <span class="raters-no">{{ i + 1 }} Star Rating</span>
            </div>

            <!-- Progress Bar -->
            <div
              class="progress-bar col"
              style="
                height: 10px;
                background-color: #eee;
                width: 100%;
                overflow: hidden;
                border-radius: 7px;
                border: 1px solid #004c415e;
              "
            >
              <div
                class="progress"
                [ngStyle]="{
                  height: '100%',
                  width: rating.value,
                  'background-color': '#004c41'
                }"
              ></div>
            </div>

            <!-- Percentage Display -->
            <div class="col-1">
              <span
                class="rating"
                style="font-size: 0.9rem; font-weight: normal"
                >{{ rating.value }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="students-feedback">
      <h3 class="course-desc-title py-4">Students Feedback</h3>
      @for (comment of studentFeedbacks; track $index) {
      <div class="feedback d-flex align-items-start">
        <div class="col-1">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
            class="mr-2"
            size="normal"
            shape="circle"
          />
        </div>
        <div class="col d-flex flex-column gap-2">
          <span class="rating" style="font-weight: 500"
            >{{ comment.student["name"] }}
            <span class="raters-no">{{
              comment.created_at | date : "short"
            }}</span></span
          >
          <div class="course-rating-in-stars">
            <i
              *ngFor="let star of getStarsArray(comment.rate)"
              class="pi pi-star-fill px-1"
              style="color: #004c41"
            ></i>
            <i
              *ngFor="let star of getEmptyStarsArray(comment.rate)"
              class="pi pi-star px-1"
            ></i>
          </div>
          <p class="course-desc">
            {{ comment.comment }}
          </p>
        </div>
      </div>
      <p-divider />
      }
    </div>
    <div class="related-courses">
      <h3 class="course-desc-title py-4">Related Courses</h3>

      <div class="d-flex flex-wrap gap-3">
        @for (item of relatedCourses; track $index) {
        <div
          class="col col-lg-3 d-flex flex-column"
          style="border: 1px solid rgba(0, 0, 0, 0.377)"
          (click)="navigate(item.id)"
          [ngStyle]="{ cursor: 'pointer' }"
        >
          <div class="h-50">
            <img
              src="assets/Images/related_course_{{ $index + 1 }}.png"
              class="w-100 h-100 object-fit-cover"
            />
          </div>
          <div class="h-50 d-flex flex-column p-1">
            <div class="d-flex my-2">
              <div class="property-chip col d-flex justify-content-start">
                <div>
                  <span>{{ item.category }}</span>
                </div>
              </div>
              <div class="course-price d-flex col justify-content-end">
                ${{ item.price }}
              </div>
            </div>
            <span
              class="rating py-1"
              style="font-size: 0.8rem; font-weight: normal"
              >{{ item.title }}</span
            >
            <hr />
            <div class="d-flex">
              <div
                class="property-chip col-1 d-flex justify-content-start align-items-center"
              >
                <i class="pi pi-star-fill px-1" style="color: #004c41"></i>
                <span class="rating" style="font-size: 1rem">{{
                  item.rating
                }}</span>
              </div>
              <div class="course-price d-flex col justify-content-end">
                <span class="raters-no py-2"
                  >{{ item.students_enrolled }} <span> students</span></span
                >
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
