<div class="all-courses-container">
  <div class="container my-5">
    <!-- Header Section -->
    <div class="header d-flex flex-wrap flex-md-nowrap">
      <div class="col-12 col-md-6">
        <h1>My Courses ({{ courses.length }})</h1>
      </div>

      <div class="col-12 col-md-6">
        <div class="search-bar">
          <input
            type="text"
            class="form-control"
            placeholder="Search ..."
            aria-label="Search"
            aria-describedby="search-button"
            [(ngModel)]="searchQuery"
            (keyup)="searchCourses()"
          />
          <button class="btn btn-primary" type="button" id="search-button">
            Search
          </button>
        </div>
      </div>
    </div>

    <!-- No Courses Image -->
    <div class="container col text-center" *ngIf="courses.length == 0">
      <img
        [src]="'assets/Images/no_content.png'"
        [ngStyle]="{
          width: '20rem',
          height: 'auto'
        }"
      />
      <!-- <h4
        [ngStyle]="{
          'text-align': 'center',
          color: '#0000007a',
          'font-weight': 'bold',
          'font-family': 'Poppins'
        }"
      >
        No Courses Found
      </h4> -->
    </div>
    <!-- Courses Grid -->
    <div class="courses-grid" *ngIf="courses.length > 0">
      <div
        *ngFor="let course of filteredCourses"
        class="course-card"
        [style]="{ width: '300px', margin: '10px' }"
      >
        <!-- <img
            [src]="course.image"
            alt="Course Image"
            class="course-image"
            style="width: 100%; height: 200px; object-fit: cover"
          /> -->
        <img
          [src]="'assets/Images/related_course_4.png'"
          alt="Course Image"
          class="course-image"
          style="width: 100%; height: 200px; object-fit: cover"
        />
        <div class="course-content">
          <p>By {{ course.instructor_name }}</p>
          <h3>{{ course.title }}</h3>
          <button
            type="button"
            class="buy-course-btn p-2"
            [ngStyle]="{
              border: 'none',
              backgroundColor: '#E6F6F4',
              color: '#004C41',
              fontWeight: 'bold'
            }"
            (click)="buyCourse(course)"
          >
            View Course
          </button>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <!-- <p-paginator
      [rows]="12"
      [totalRecords]="657"
      [rowsPerPageOptions]="[12, 24, 36]"
      (onPageChange)="onPageChange($event)"
    ></p-paginator> -->
  </div>
</div>
