<div class="container my-4">
  <h3 style="font-weight: bold">All Instructors</h3>
  <div class="profile-cards">
    <div class="card" *ngFor="let profile of profiles">
      <img
        class="profile-image object-fit-cover"
        src="assets/Images/person_1.jpeg"
        alt="Profile Image"
      />
      <h3>{{ profile.name }}</h3>
      <p class="title">{{ profile.about }}</p>
      <div class="rating">
        <span *ngFor="let star of profile.filledStars; let i = index">
          <i class="pi pi-star-fill"></i>
        </span>
        <span *ngFor="let star of profile.emptyStars; let i = index">
          <i class="pi pi-star"></i>
        </span>
      </div>
      <button class="view-profile-btn" (click)="viewProfile(profile.id)">
        View Profile
      </button>
    </div>
  </div>
</div>
<p-dialog
  header="Instructor Profile"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '35rem' }"
>
  <div class="container d-flex flex-column gap-3">
    <app-instructor-profile></app-instructor-profile>
  </div>
</p-dialog>
