<div class="container my-4">
    <h3 style="font-weight: bold">All Instructors</h3>
    <div class="profile-cards">
        <div class="card" *ngFor="let profile of profiles">
            <img class="profile-image object-fit-cover" src="assets/Images/person_1.jpeg" alt="Profile Image" />
            <h3>{{ profile.name }}</h3>
            <p class="title">{{ profile.title }}</p>
            <div class="rating">
                <span *ngFor="let star of profile.stars; let i = index">
                    <i class="pi pi-star-fill"></i>
                </span>
            </div>
            <button class="view-profile-btn">View Profile</button>
        </div>
    </div>
</div>