<p-toast></p-toast>
<div class="container my-4">
  <h3>Contact Us</h3>
  <div class="contact-container">
    <div class="contact-info">
      <h2>Get in Touch Today</h2>
      <p>
        We’re here to help! Whether you have questions, need assistance, or want
        to learn more about our platform, feel free to reach out.
      </p>
      <div class="contact-details">
        <p>
          <i class="pi pi-envelope px-1"></i><strong>Email:</strong> support{{
            "@"
          }}learn-on.com
        </p>
        <p>
          <i class="pi pi-phone px-1"></i><strong>Phone:</strong> +20 112 130
          9030
        </p>
        <p>
          <i class="pi pi-map-marker px-1"></i> <strong>Address:</strong> 123
          Learning Lane, Knowledge City, CA 90210
        </p>
      </div>
      <div class="stay-connected">
        <h3>Stay Connected:</h3>
        <p>Follow us on social media for updates, tips, and inspiration:</p>
        <div class="d-flex gap-3 justify-content-start align-items-center col">
          <a href="#" class="footer-nav-link text-decoration-none"
            ><i class="pi pi-facebook"></i
          ></a>
          <a href="#" class="footer-nav-link text-decoration-none"
            ><i class="pi pi-instagram"></i
          ></a>
          <a href="#" class="footer-nav-link text-decoration-none"
            ><i class="pi pi-twitter"></i
          ></a>
          <a href="#" class="footer-nav-link text-decoration-none"
            ><i class="pi pi-linkedin"></i
          ></a>
          <a href="#" class="footer-nav-link text-decoration-none"
            ><i class="pi pi-youtube"></i
          ></a>
        </div>
      </div>
      <div class="have-question">
        <h3>Have a Question?</h3>
        <p>
          Fill out our contact form, and we’ll get back to you as soon as
          possible.
        </p>
        <p>
          <strong>We value your feedback</strong> and are always looking for
          ways to improve. Your journey to success is our priority!
        </p>
      </div>
    </div>
    <div class="contact-form">
      <form [formGroup]="contactForm" (ngSubmit)="sendMessageToSupport()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Enter your name"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="abc@outlook.com"
          />
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <input
            type="text"
            id="subject"
            formControlName="subject"
            placeholder="Inquiry"
          />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            id="message"
            formControlName="message"
            placeholder="Write your Message here"
          ></textarea>
        </div>
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
