<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/Images/logo.png" width="auto" height="40" />
      Education</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="w-100 d-flex justify-content-end flex-column flex-lg-row">
        <div class="d-flex align-items-center gap-2">
          <span style="font-family: 'Poppins'; color: white"
            >Don't have an account ?</span
          >
          <button class="nav-btn" routerLink="/auth/register">
            <span>Sign Up</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="d-flex w-100">
  <div class="image d-flex w-50">
    <img src="assets/Images/sign_in_avatar.png" class="w-100" />
  </div>
  <div
    class="form d-flex w-50 bg-white justify-content-center align-items-center"
  >
    <div class="w-100">
      <form [formGroup]="loginForm">
        <h2 class="sign-in-title w-100 text-center py-5">
          Sign in to your account
        </h2>
        <div class="d-flex flex-column gap-4">
          <div class="email-controller d-flex flex-column w-100 px-4 gap-2">
            <span class="form-control-label">Email</span>
            <input
              type="text"
              pInputText
              formControlName="email"
              placeholder="Username or email address ..."
            />
          </div>
          <div class="password-controller d-flex flex-column w-100 px-4 gap-2">
            <span class="form-control-label">Password</span>
            <p-password
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
              placeholder="Enter your password ..."
            />
          </div>
          <div class="d-flex w-100">
            <div
              class="password-controller d-flex w-50 px-4 gap-2 align-items-center"
            >
              <p-checkbox formControlName="rememberUser" [value]="true" />
              <label class="px-2" style="font-family: 'Poppins'"
                >Remember me</label
              >
            </div>
            <div class="w-50 justify-content-end d-flex w-50 px-4 gap-2">
              <button class="submit-btn" style="width: 60%">Sign in</button>
            </div>
          </div>
          <div class="d-flex w-100">
            <p-divider align="center" type="solid" class="w-100">
              <span style="font-family: 'Poppins'; color: #0000005e"
                >SIGN IN WITH</span
              >
            </p-divider>
          </div>
          <div class="d-flex w-100 px-4 gap-2">
            <button
              class="social-btns d-flex gap-3 align-items-center px-3"
              style="
                border-color: #ff3e30;
                background-color: #ff3e30;
                color: white;
              "
            >
              <i class="pi pi-google"></i>
              <span>Google</span>
            </button>
            <button
              class="social-btns d-flex gap-3 align-items-center px-3"
              style="
                border-color: #1877f2;
                background-color: #1877f2;
                color: white;
              "
            >
              <i class="pi pi-facebook"></i>
              <span>Facebook</span>
            </button>
            <button class="social-btns d-flex gap-3 align-items-center px-3">
              <i class="pi pi-apple"></i>
              <span>Apple</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
