@import "../../../styles.scss";
::ng-deep p-table.p-element {
  div.p-datatable.p-component {
    table {
      thead {
        tr {
          border-bottom: 10px solid #f2f2f7;
          th {
            padding: 10px;
            background-color: #b5dbc9;
            text-align: center;
            margin-bottom: 10px; /* Adds space between rows */
            font-family: var(--mainFont);
            font-size: 0.9rem;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 10px solid #f2f2f7;
          td {
            padding: 10px;
            text-align: center;
            font-family: var(--mainFont);
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
span.h2 {
  font-family: var(--mainFont);
  font-size: 2rem;
  font-weight: bold;
}
button.add-new-item-btn {
  background-color: #006557;
  color: white;
  border: none;
  border-radius: 20px;
  padding-inline: 10px;
}
