*:not(i) {
  font-family: "Poppins", sans-serif;
}

.account-settings {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: "Arial", sans-serif;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  .profile-pic-container {
    position: relative;
    width: 100px;
    height: 100px;
  }

  .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
  }
  .profile-info {
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0;
      font-size: 20px;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }
  }

  .edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #003b33;
    color: white;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  #fileInput {
    display: none;
  }

  .account-form,
  .password-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 600;
        margin-bottom: 5px;
      }

      input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      &.gender {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    button {
      grid-column: span 2;
      padding: 10px;
      background-color: #003b33;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: white;
        color: #003b33;
        border: 2px solid #003b33;
      }

      @media (max-width: 768px) {
        grid-column: span 1;
      }
    }
  }

  .password-form {
    .form-group {
      position: relative;

      input {
        width: 100%;
      }

      i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
}

button.submit-btn {
  grid-column: span 2;
  padding: 10px;
  width: auto;
  padding: 10px;
  height: 48px;
  font-family: "Poppins";
  background-color: #003b33;
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: white;
    color: #003b33;
    border: 2px solid #003b33;
  }
}

::ng-deep div.p-password.p-component.p-inputwrapper {
  width: 100%;

  input.p-inputtext.p-component.p-element.p-password-input {
    width: 100%;
  }
}
::ng-deep .p-ripple.p-element.p-menuitem-link.ng-star-inserted {
  text-decoration: none;
}
::ng-deep
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem.p-highlight
  .p-menuitem-link {
  border-color: #0087757a;
}
::ng-deep
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem.p-highlight
  .p-menuitem-link
  span {
  color: #008774;
}
::ng-deep .p-menuitem-text.ng-star-inserted {
  color: black;
}
::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: #008774;
}
::ng-deep a {
  text-decoration: none;
}

::ng-deep a.p-ripple.p-element.p-menuitem-link.ng-star-inserted {
  padding-left: 0;
}

.user-add-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #1c1c1c;
}
::ng-deep .p-tabmenu-nav-content a {
  text-decoration: none;
  color: var(--gray4Color);
}

::ng-deep
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem.p-highlight
  .p-menuitem-link {
  border-color: var(--secondColor);
  color: var(--secondColor);
}

::ng-deep .p-steps .p-steps-item .p-menuitem-link {
  background: unset;
  cursor: pointer;
}
