<p-toast></p-toast>
<div class="account-settings my-5">
  <h2>Account settings</h2>

  <!-- Profile Section -->
  <div class="profile">
    <div class="profile-pic-container">
      <img
        [src]="avatar || 'assets/Images/person_1.jpeg'"
        alt="Profile Picture"
        class="profile-pic"
      />
      <label for="fileInput" class="edit-icon">
        <i class="pi pi-pencil"></i>
      </label>
      <input
        type="file"
        id="fileInput"
        (change)="onFileSelected($event)"
        accept="image/*"
      />
    </div>
    <div class="profile-info">
      <h3>{{ username }}</h3>
      <a href="mailto:{{ email }}">{{ email }}</a>
    </div>
  </div>
  <p-steps
    [model]="items"
    [readonly]="false"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
  />
  <ng-container *ngIf="generalInfoTab">
    <form
      class="account-form"
      [formGroup]="userProfileForm"
      (ngSubmit)="updateUserProfileData()"
    >
      <div class="form-group">
        <label>First name:</label>
        <input type="text" formControlName="firstName" />
      </div>
      <div class="form-group">
        <label>Last name:</label>
        <input type="text" formControlName="lastName" />
      </div>
      <div class="form-group">
        <label>User name:</label>
        <input type="text" formControlName="userName" />
      </div>
      <div class="form-group" *ngIf="role == 'student'">
        <label>Education:</label>
        <input type="text" formControlName="education" />
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" formControlName="email" />
      </div>
      <div class="form-group" *ngIf="role == 'instructor'">
        <label>Major:</label>
        <input type="text" formControlName="major" />
      </div>
      <div class="form-group" *ngIf="role == 'student'">
        <label>Interests:</label>
        <input type="text" formControlName="interests" />
      </div>
      <div class="form-group" *ngIf="role == 'instructor'">
        <label>payPal Account:</label>
        <input type="email" formControlName="paypalAccount" />
      </div>
      <div class="form-group">
        <label>Country:</label>
        <input type="text" formControlName="country" />
      </div>
      <div class="form-group">
        <label>Phone:</label>
        <input type="text" formControlName="phone" />
      </div>
      <div class="form-group gender d-flex align-items-start">
        <label>Gender:</label>
        <div class="d-flex gap-3">
          <input type="radio" formControlName="gender" value="male" /> Male
          <input type="radio" formControlName="gender" value="female" />
          Female
        </div>
      </div>
      <div class="form-group">
        <label>Date of Birth:</label>
        <input type="text" formControlName="dateOfBirth" />
      </div>
      <button type="submit" class="submit-btn">Update</button>
    </form>
  </ng-container>

  <ng-container *ngIf="securityInfoTab">
    <h3 class="py-4">Change password</h3>
    <form
      class="password-form d-flex flex-wrap"
      [formGroup]="passwordChangeForm"
      (ngSubmit)="updateProfilePassword()"
    >
      <div class="form-group password col-12 w-100">
        <label>Current Password</label>
        <p-password
          [toggleMask]="true"
          [feedback]="false"
          placeholder="Enter your password ..."
          formControlName="currentPassword"
        />
      </div>
      <div class="col-12 d-flex gap-2 my-3">
        <div class="form-group password col">
          <label>New Password</label>
          <p-password
            [toggleMask]="true"
            [feedback]="false"
            placeholder="Enter your password ..."
            class="w-100"
            formControlName="newPassword"
          />
        </div>
        <div class="form-group password col">
          <label>Confirm Password</label>
          <p-password
            [toggleMask]="true"
            [feedback]="false"
            placeholder="Enter your password ..."
            formControlName="confirmPassword"
          />
        </div>
      </div>
      <button type="submit" class="submit-btn w-100">Change Password</button>
    </form>
  </ng-container>
</div>
