<div class="d-flex py-5 bg-white">
  <div class="container d-flex flex-column flex-md-row">
    <div class="col">
      <a
        class="navbar-brand"
        href="#"
        style="font-family: 'Poppins'; font-weight: bold; font-size: 1.2rem"
      >
        <img src="assets/Images/logo.png" width="auto" height="40" />
        Education</a
      >
    </div>
    <div
      class="col col-md-8 d-flex flex-column flex-md-row gap-3 align-items-center justify-content-center"
    >
      <a
        href="#"
        class="footer-nav-link text-decoration-none"
        style="color: #0000007a"
        >Home</a
      >
      <a
        href="#"
        class="footer-nav-link text-decoration-none"
        style="color: #0000007a"
        >All Courses</a
      >
      <a
        href="#"
        class="footer-nav-link text-decoration-none"
        style="color: #0000007a"
        >About Us</a
      >
      <a
        href="#"
        class="footer-nav-link text-decoration-none"
        style="color: #0000007a"
        >Contact Us</a
      >
      <a
        href="#"
        class="footer-nav-link text-decoration-none"
        style="color: #0000007a"
        >Instructors</a
      >
      <a
        href="#"
        class="footer-nav-link text-decoration-none"
        style="color: #0000007a"
        >FAQ</a
      >
    </div>
    <div class="d-flex gap-3 justify-content-center align-items-center col">
      <a href="#" class="footer-nav-link text-decoration-none"
        ><i class="pi pi-facebook"></i
      ></a>
      <a href="#" class="footer-nav-link text-decoration-none"
        ><i class="pi pi-instagram"></i
      ></a>
      <a href="#" class="footer-nav-link text-decoration-none"
        ><i class="pi pi-twitter"></i
      ></a>
      <a href="#" class="footer-nav-link text-decoration-none"
        ><i class="pi pi-linkedin"></i
      ></a>
      <a href="#" class="footer-nav-link text-decoration-none"
        ><i class="pi pi-youtube"></i
      ></a>
    </div>
  </div>
</div>
<hr class="m-0" />
<div class="d-flex py-3 bg-white">
  <div
    class="d-flex gap-3 flex-column flex-md-row align-items-center justify-content-center w-100 py-3"
  >
    <span>© 2024 Relume. All rights reserved.</span>
    <a href="#" style="color: #000">Privacy Policy</a>
    <a href="#" style="color: #000">Terms of service</a>
    <a href="#" style="color: #000">Cookie Settings</a>
  </div>
</div>
